
<section class="page-header section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-title h2 mb-3">
            <span>M'saken Municipality</span>
          </h1>
          <ul class="list-inline breadcrumb-menu mb-3">
            <li class="list-inline-item"><a href="index-2.html"><i class="ti ti-home"></i>  <span>Home</span></a></li>
            <li class="list-inline-item">• &nbsp; <a href="about.html"><span>Municipality</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-dark mb-0">The Municipality of M'saken, was created in 1921</h2>
        </div>
      </div>
      
      <div class="py-5 my-3">
        <div class="row g-4 justify-content-center text-center">
          <div class="col-lg-6 image-grid-1">
            <img class="w-100 h-auto rounded" src="assets/assets/images/about/01.jpg" alt="" width="620" height="346">
          </div>
          
          <div class="col-lg-3 col-6 image-grid-2">
            <img class="img-fluid rounded" src="assets/assets/images/about/00.jpg" alt="" width="460" height="515">
          </div>
          
          <div class="col-lg-3 col-6 image-grid-3">
            <img class="img-fluid rounded" src="assets/assets/images/about/02.jpg" alt="" width="460" height="444">
          </div>
        </div>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <div class="content">
            <p>Created on February 12, 1921, the commune of M'saken was endowed with a communal perimeter by the decree of August 21, 1922 with an area of 574 hectares. The municipal perimeter was first extended in 1962 to reach an area of 1024 hectares and was then subdivided into two municipal districts: the Cité Nouvelle, created in 1999 and M'saken Sud in 2006.</p>
            <p> It should be noted an increase in the number of inhabitants in summer due to the return of expatriates working mainly in France.
              
              The communal perimeter experienced a second extension on the occasion of the integral communalization of the national territory (decree 602 of May 26, 2016) by integrating 6 rural localities, namely Moureddine, Knaies in the South-West, Borgine, Beni Rabiaa, Beni Kalthoum and Frada in the South. As a result, the municipal perimeter of M'saken currently covers 32,844 ha and its population is estimated at 103,158 inhabitants in 2022, or just over 14% of the total population of the Governorate of Sousse.

</p>
<p>            <img class="img-fluid rounded" src="assets/assets/images/about/04.jpg" alt="" width="260" height="244">
</p>



          </div>
        </div>
      </div>
      
      <div class="section-sm pb-0">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <h2 class="section-title">
              <span>Some Mayors</span>
            </h2>
    
            <div class="row gx-4 gy-5 gx-md-5 justify-content-center text-center">
              
              <div class="col-md-4 col-sm-6">
                  <img class="img-fluid rounded" src="assets/assets/images/author/krifa.jpg" alt="Chris Impey" width="150" height="150">
                  <h4 class="text-dark mt-4 mb-1">Youssef Krifa</h4>
                  <p class="mb-0"><span class="fw-bold text-black"></span> 1949 - 1954</p>
            
              </div>

              <div class="col-md-4 col-sm-6">
      
                  <img class="img-fluid rounded" src="assets/assets/images/author/andolsi.jpg" alt="Chris Impey" width="150" height="150">
                  <h4 class="text-dark mt-4 mb-1">Ahmed Al Andolsi</h4>
                  <p class="mb-0"><span class="fw-bold text-black"></span>1960 - 1967</p>
           
              </div>


              <div class="col-md-4 col-sm-6">
     
                  <img class="img-fluid rounded" src="assets/assets/images/author/razgallah.jpg" alt="Chris Impey" width="150" height="150">
                  <h4 class="text-dark mt-4 mb-1">Abdmajid Razgallah</h4>
                  <p class="mb-0"><span class="fw-bold text-black"></span>1960 - 1972 | 1980 - 1990</p>
            
              </div>
              
              <div class="col-md-4 col-sm-6">
       
                  <img class="img-fluid rounded" src="assets/assets/images/author/boulalouna.jpg" alt="Emma Hazel" width="150" height="150">
                  <h4 class="text-dark mt-4 mb-1">Mohamed Boulalouna</h4>
                  <p class="mb-0"><span class="fw-bold text-black"></span>1972 - 1975</p>
              
              </div>
              
              <div class="col-md-4 col-sm-6">
           
                  <img class="img-fluid rounded" src="assets/assets/images/author/chatti.jpg" alt="Chris Impey" width="150" height="150">
                  <h4 class="text-dark mt-4 mb-1">Mohamed Habib Chatti</h4>
                  <p class="mb-0"><span class="fw-bold text-black"></span>1975 - 1980 </p>
              
              </div>

              <div class="col-md-4 col-sm-6">
            
                  <img class="img-fluid rounded" src="assets/assets/images/author/mrizak.jpg" alt="Thomas Macaulay" width="150" height="150">
                  <h4 class="text-dark mt-4 mb-1">Najib Mrizak</h4>
                  <p class="mb-0"><span class="fw-bold text-black"></span>1995 - 2000</p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  