<section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-12 text-center">
          <h1 class="section-title h2 mb-3">
            <span>Articles</span>
          </h1>
          <ul class="list-inline breadcrumb-menu mb-3">
            <li class="list-inline-item"><a href="index-2.html"><i class="ti ti-home"></i>  <span>Home</span></a></li>
            <li class="list-inline-item">• &nbsp; <a href="about.html"><span>Articles</span></a></li>
          </ul>
        </div>
        <div class="col-lg-10">
          <div class="mb-5">
  
            
          </div>
        </div>
     
          <div class="col-lg-2 post-share-block order-1 order-lg-0 mt-5 mt-lg-0">
         
        
        </div>
        <div class="col-lg-8 post-content-block order-0 order-lg-2">
          <div class="content">
           
            <h3 id="why-even-1-of-light-speed-is-hard">The genesis of M'saken</h3>
            <p>The city would have been founded at the beginning of the VIII th century of the Hegira by a group of descendants of Hussein ibn Ali (grandson of the Prophet <b>Muhammad (sws)</b>).

              they settled on a land known at the beginning under the name of "the valley of the lion" ( Ghabat Essid ) then by "the valley of the Sultan" which bore the name of the Hafsid Sultan who bequeathed it to them. Immediately, they divided into five tribes and built five palaces surrounding the mosque "El Aousat". Each pleasure consists of a small fortress with a single exit. These palis have metamorphosed over the years into neighborhoods called Njejra, kebline, Menâama, Jebline and Jedidine.</p>
            <p>     
                          
            </p>
           
            <h3 id="how-fast-can-we-go">The origins of inhabitants            </h3>
            
            <p><b>The Husseinis:</b> They are from the nobles, i.e. from the family of the House, and their lineage is related to Al-Hussein bin Ali bin Abi Talib, and they descend specifically from Idris bin Musa bin Ismail bin Musa Al-Kadhim bin Jaafar Al-Sadiq bin Muhammad Al-Baqer bin Ali Zain Al-Abidin bin Al-Hussein bin Ali bin Abi Talib, may God be pleased with them.</p>
            <p><b>Al-Wasaltiya:</b> Their number is less than the first group, and they were evacuated by Ali Pasha, the ruler of Tunisia, at the end of the 18th century AD to this place. They quickly integrated with the local population.</p>
            <p><b>Al-Kramsa:</b> The date of their arrival is earlier than the arrival of the Wesaltia and may go back to the 16th century AD, and some of them say that they are of European origin, specifically from Malta, and their ancestors had fled with their religion to Tunisia and settled in the Wardanine countryside, and from this countryside they moved to residences.</p>
            <p><b>Different groups: </b> They are families whose origins go back to different cities such as El Jem, Sousse, Monastir, Takrouna, Sfax, Moknine, Jamal, Kairouan, Kerkennah (island) and Djerba (island), or families that go back to famous Tunisian tribes such as Majer, Al-Mathath, Duraid and others.</p>
            <p>                  <img class="w-100 h-auto rounded" src="assets/assets/images/blog2.jpg" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">
            </p>

          
          </div>


          <div class="content">
         
            
            <h3 id="how-fast-can-we-go">Husseini period            </h3>
            <p>During the Husayni period, M'saken emerged from the circle of silence, and its presence emerged in one of the most important periods of transition that the Tunisian country experienced with the Husayni state.
            </p>
            <p>It emerged as an active force on various levels, as it is an important human gathering, as well as an economic force in the field of oil production. Its economic weight and the importance of its oil production was the reason for the stability of Minister Shakir, the owner of the character, for a period of time, so he built the palace known as Sarayat al-Maqrun.

            </p>
            <p>It is natural that agricultural production is a reason for the economic strength of housing, as science was also important in the prosperity of the city. The sons of Masaken were passionate about science, religious research, and memorizing the Qur'an. At the head of the educated group is Sheikh Ali bin Khalifa Al-Husseini Al-Masakni (1669-1758).

            </p>
           
            
            <h3 id="why-even-1-of-light-speed-is-hard">Contemporary city
            </h3>
            <p>With the dawn of independence, the residences had a large number of educated people, intellectuals, and men of science, and they began a new era in building the city.</p>
            <p><b>Dr. Abd al-Majid Rizkallah</b> was the man of the construction phase in that period. He had a great intellectual and practical dimension and updated the planning of the contemporary city on firm foundations, which gave the city another face.</p>
            <p>                  <img class="w-100 h-auto rounded" src="assets/assets/images/pic2023.jpg" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">
            </p>


            <h3 id="how-fast-can-we-go">City of mosques
            </h3>
            
            <p>M'saken is known as the city of mosques and the Koran. At the present time, we find in it no less than 80 mosques, as we find in it a number of writers and a group of memorizers of the Qur'an. The phenomenon of memorizing the Qur'an is old and well-known in the horizons. The establishment of the Sheikh Ali bin Khalifa School at the end of the 17th century AD confirmed this importance.

            </p>
            <p>Another important thing in this city is the existence of no less than 50 headquarters for saints and righteous people, as well as the existence of corners in which the supplications of the great Sufis were read, such as the Zawiya of Sidi Abdel Salam (Al-Asmar) and the Zawiya of Sidi Abi Al-Hassan Al-Shazly.

            </p>
             <p>       <img class="w-100 h-auto rounded" src="assets/assets/images/blog/blog3.jpg" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">
            </p>
            
            <h3 id="how-fast-can-we-go">Historical sites

            </h3>
            
            <p><b>Sarayat Al-Magron :

            </b> It was built with the permission of Minister 'Shakir Saheb al-Tabaa', in 1828. During the term of the Emirate of Field Marshal Ahmed Pasha Bey I, he gave it to the Emir of Major General Hassan al-Magrun al-Masakni.

              During the revolution of 1864, the Saraya witnessed the progress of the negotiations between the revolutionaries and the envoys of Sadiq Bey I.
              <p>       <img class="w-100 h-auto rounded" src="assets/assets/images/blog/sraya 1.jpg" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">

            </p>
            <p>
            <b>Middle Mosque : </b> It is the first mosque established in the town by the founders of the city of Masaken during the late first half of the 8th century AH (14 AD). It is located among the five palaces that make up the town of Masaken.</p>

           
            <p>       <img class="w-100 h-auto rounded" src="assets/assets/images/blog/middle mosque.jpg" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">

            <b>Sheikh Ali Al-Zarli School

            </b> t is now known as the Zawiya of Sidi Ali Al-Zarli. It is located near Sarayat Al-Maqrun, and the closest possibility is that it was founded in the early 12th century AH (18th AD).

            It includes a small mosque and a group of houses that lead students coming from inside the Ayala. It was named after Sheikh Ali Al-Zarli, who established it as a teacher, preacher and imam.
            <p>
              <p>       <img class="w-100 h-auto rounded" src="assets/assets/images/blog/ecole zrelli.jpg" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">

            </p>
          



          </div>
  
        </div>
      </div>
  
      
      <div class="single-post-author">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="d-block d-md-flex">
      
                <img class="rounded mr-4" src="assets/assets/images/author/me.png" alt="Thomas Macaulay" width="140" height="140">
            
              <div class="ms-0 ms-md-4 ps-0 ps-md-3 mt-4 mt-md-0">
                <h3 class="h4 mb-3"><a href="author-single.html" class="text-dark">Saif Gorchene</a></h3>
                <p> I am a web developer. I have always been fascinated by the power of technology to connect people and share information.

                  I created athis little blog about my city, M'saken. I wanted to share my love for its municipality and history with the world. </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
     
    </div>
  </section>