<!-- start of footer -->
<footer>
    <div class="container">
      <div class="section">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-6 col-lg-8 col-md-10">
            <!-- newsletter block -->
            <div class="newsletter-block">
              
              <h2 class="section-title text-center mb-4">If you like my work, please feel free to contact me.</h2>
              <h4 class="section-title text-center mb-4">saifgorchene@gmail.com</h4>


              <form action="#!" method="post" novalidate>
                
              </form>
            </div>
            <!-- newsletter block -->
          </div>
        </div>
      </div>
      <div class="pb-5">
        <div class="row g-2 g-lg-4 align-items-center">
          <div class="col-lg-6 text-center text-lg-start">
            <p class="mb-0 copyright-text content">&copy;2023 S.Gorchene. All rights reserved.</p>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <ul class="list-inline footer-menu">
            
              <i class="ti ti-brand-github"><a href="#"></a></i> 
              <i class="ti ti-brand-linkedin"><a href="#"></a></i>
              <i class="ti ti-brand-gmail"><a href="#"></a></i> 
              <i class="ti ti-brand-instagram"><a href="#"></a></i>
              



            </ul> 
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end of footer -->